.details-Container {
  margin-top: 2em;
  display: flex;
  padding: 1em;
  flex-flow: wrap;
  justify-content: space-around;

  .card {
    @media (max-width: 768px) {
      max-width: 80%;
    }
    max-width: 30%;
  }
}
